@import 'styles/Colors.scss';

$crossSize: 20px;

.input-contain {
  height: 80px;
  width: 350px;
  display: flex;
  position: relative;
  align-items: center;
}

.input {
  box-sizing: border-box;
  width: 100%;
  height: 42px;
  border: 1px solid $lightGrey;
  font-size: 12px;
  line-height: 16px;
  padding: 0 14px;
  outline: none;

  &:hover {
    border-color: $greyChateau;
  }

  &:focus {
    border-color: $greyChateau;
  }

  &-label {
    top: 0;
    height: 11px;
    position: absolute;
    letter-spacing: 0.9px;
    text-transform: uppercase;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 10px;
    line-height: 11px;
    color: $riverBed;
  }

  &-succes {
    border-color: $boringGreen;

    &:hover {
      border-color: $boringGreen;
    }

    &:focus {
      border-color: $boringGreen;
    }
  }

  &-error {
    border-color: $paleRed;

    &:hover {
      border-color: $paleRed;
    }

    &:focus {
      border-color: $paleRed;
    }
  }
}

.error {
  position: absolute;
  right: 15px;
  width: 10px;
  height: 10px;
}

.succes {
  position: absolute;
  right: 13px;
  width: 14px;
  height: 10px;
}

.res-password {
  position: absolute;
  right: 0;
  top: -7px;
}
