@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

$crossSize: 20px;

.input-contain {
  height: 90px;
  display: flex;
  position: relative;
  align-items: center;
}

.input {
  box-sizing: border-box;
  width: 350px;
  height: 42px;
  border: 1px solid #d4d9e2;
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 16px;
  padding: 0 14px;
  outline: none;

  &-label {
    top: 7px;
    height: 11px;
    position: absolute;
    letter-spacing: 0.9px;
    text-transform: uppercase;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 10px;
    line-height: 11px;
    color: #434c5d;
  }

  &:hover {
    border-color: #a6a9af;
  }

  &:focus {
    border-color: #a6a9af;
  }
}

.input[data-validation='success'] {
  border-color: #56bd5b;

  & + span::after {
    content: '';
    position: absolute;
    left: 326px;
    top: 35px;
    display: inline-block;
    transform: rotate(45deg);
    height: 11px;
    width: 5px;
    border-bottom: 2px solid #56bd5b;
    border-right: 2px solid #56bd5b;
    border-radius: 1px;
  }

  &:hover {
    border-color: #56bd5b;
  }

  &:focus {
    border-color: #56bd5b;
  }
}

.input[data-validation='error'] {
  border-color: #e1464e;

  &:hover {
    border-color: #e1464e;
  }

  &:focus {
    border-color: #e1464e;
  }

  & + span::after {
    content: '';
    position: absolute;
    left: 326px;
    top: 35px;
    --color: #444;
    --l: 7px; /* line-width */
    width: $crossSize;
    height: $crossSize;
    background: linear-gradient(
        to top right,
        transparent calc(50% - var(--l) / 2),
        var(--color) calc(50% - var(--l) / 2) calc(50% + var(--l) / 2),
        transparent calc(50% + var(--l) / 2)
      ),
      linear-gradient(
        to bottom right,
        transparent calc(50% - var(--l) / 2),
        var(--color) calc(50% - var(--l) / 2) calc(50% + var(--l) / 2),
        transparent calc(50% + var(--l) / 2)
      );
  }
}
