.category-page {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;

  &-select {
    display: flex;
    margin-bottom: 45px;
    width: 500px;
    justify-content: space-between;

    &-item {
      width: 212px;
    }
  }

  &-article {
    margin: 10px 0;
  }
}

@media screen and (max-width: 1024px) {
  .category-page {
    margin-top: 25px;
    padding: 0 15px;
  }
}
