@import 'styles/Colors.scss';

.article {
  position: relative;

  &-path {
    display: flex;
    position: absolute;
    top: -30px;
    left: 0px;
    align-items: center;
    font-size: 12px;
    font-weight: 700;
    line-height: normal;

    a {
      all: unset;
      color: $greyCloud;
      cursor: pointer;
      text-transform: uppercase;
      -webkit-user-drag: none;

      &:hover {
        color: $monza;
      }
    }

    &-arrow {
      margin: 0 4px;
      width: 9px;
      transform: rotateZ(90deg);

      path {
        fill: $alizarinCrimson;
      }
    }

    span {
      color: $alizarinCrimson;
    }
  }

  &-main {
    margin-bottom: 45px;
  }
}
