.create-article {
  max-width: 813px;

  &-form {
    position: relative;

    &-preview-btn {
      display: flex;
      justify-content: flex-end;
      margin-bottom: 25px;
    }

    &-select {
      margin-top: 22px;
      display: flex;
      justify-content: space-between;

      &-item {
        margin-bottom: 20px;
        width: 250px;
      }
    }

    &-input {
      width: 100%;
    }
  }
}

@media screen and (max-width: 800px) {
  .create-article-form-select {
    flex-direction: column;

    &-item {
      width: 100%;
    }
  }
}
