@import 'styles/Colors.scss';

.main-article {
  display: flex;
  position: relative;
  align-items: center;
  max-width: 813px;
  width: 100%;

  &-post {
    height: 100%;
  }

  &-img {
    box-sizing: border-box;
    display: flex;
    width: 100%;

    &-contain {
      width: 100%;
    }
  }

  &-button {
    display: flex;
    position: absolute;
    right: 0;
    bottom: -57px;

    &-number {
      border: none;
      background: none;
      cursor: pointer;
      color: $greyCloud;
      font-size: 16px;
      line-height: 22px;
      width: 30px;
      letter-spacing: 0.6px;

      &.active {
        color: $persianRed;
      }

      &:hover {
        color: $persianRed;
      }
    }

    &-circle {
      display: flex;
      background: none;
      border: none;
      width: 27px;
      cursor: pointer;

      &.right {
        margin-left: 20px;
        transform: rotate(-180deg);
      }

      &.left {
        margin-right: 20px;
      }

      &:hover .arrow {
        stroke: $persianRed;
      }

      &:hover * {
        fill: $persianRed;
      }
    }
  }

  &-title {
    background-color: $porcelain;
    box-sizing: border-box;
    max-width: 420px;
    width: 100%;
    padding: 50px 33px 83px;
    position: absolute;
    right: -228px;

    &-shadow {
      width: 300px;
      height: 20px;
      position: absolute;
      right: 8px;
      bottom: 0;
      z-index: -9999;
      box-shadow: -25px 17px 28px -4px rgba(0, 0, 0, 0.21);
    }

    &-text {
      display: flex;
      flex-direction: column;
      justify-content: center;

      span {
        color: $friarGrey;
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 16px;
      }

      h3 {
        margin: 19px 0;
        font-size: 16px;
        line-height: 22px;
        color: $persianRed;
      }

      h2 {
        font-weight: 700;
        font-size: 22px;
        line-height: 30px;
        color: $gunmetal;
      }
    }

    &-btn {
      width: 192px;
      height: 42px;
      font-size: 16px;
      line-height: 22px;
      position: absolute;
      left: 0;
      bottom: 0;
    }
  }

  &-mobile-btn {
    display: none;
    justify-content: space-between;
    position: absolute;
    width: 100%;
    top: -375px;

    button {
      width: 100px;
      height: 430px;
      border: none;
      background: rgba(0, 0, 0, 0.2);
      filter: blur(20px);
      border-radius: 100px 0 0 100px;
      opacity: 0;
      transition: 0.3s;

      &:active {
        opacity: 1;
        transition: 0.3s;
      }

      &.left {
        border-radius: 0 100px 100px 0;
      }
    }
  }
}

@media screen and (max-width: 1310px) {
  .main-article {
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 80px;

    &-button {
      right: auto;
      bottom: -55px;
    }

    &-title {
      display: flex;
      flex-direction: column;
      align-items: center;
      background: none;
      position: relative;
      right: 0;
      max-width: 813px;
      padding: 26px 16px 32px;
      box-shadow: 0px 61px 72px -92px rgba(0, 0, 0, 0.75);

      &-shadow {
        display: none;
      }

      &-text {
        h3 {
          margin: 13px 0 3px;
        }

        h2 {
          font-size: 16px;
          line-height: 21px;
        }
      }

      &-btn {
        margin-top: 30px;
        position: relative;
      }
    }
  }
}

@media screen and (max-width: 1024px) {
  .main-article {
    max-width: 1024px;
    margin-bottom: 0;

    &-mobile-btn {
      display: flex;
    }

    &-img-contain {
      max-width: 1024px;
    }

    &-button {
      display: none;
    }

    &-title {
      max-width: 1024px;

      &-btn {
        margin-top: 30px;
        position: relative;
      }
    }
  }
}
