@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

* {
  padding: 0;
  margin: 0;
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 600;
}

.App {
  justify-content: center;
}
