@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

* {
  padding: 0;
  margin: 0;
<<<<<<< HEAD
=======
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 600;
>>>>>>> 04e0b5b... fix: page and create folder 'Layout'
}
