$alizarinCrimson: rgb(215, 33, 48);
$roseMadder: rgba(224, 34, 50, 1);
$monza: rgba(200, 5, 21, 1);
$azalea: rgba(247, 211, 214, 1);

$roseWhite: rgb(255, 251, 251);
$periwinkleGrey: rgb(198, 204, 215);

$havelockBlue: rgb(74, 144, 226);
$crystalBlue: rgb(105, 169, 244);
$windowsBlue: #3c80cf;
