$alizarinCrimson: rgb(215, 33, 48);
$roseMadder: rgba(224, 34, 50, 1);
$monza: rgba(200, 5, 21, 1);
$paleRed: #e1464e;
$persianRed: #c63638;

$azalea: rgba(247, 211, 214, 1);
$roseWhite: rgb(255, 251, 251);
$periwinkleGrey: rgb(198, 204, 215);
$lightGrey: #d4d9e2;
$greyChateau: #a6a9af;

$havelockBlue: rgb(74, 144, 226);
$crystalBlue: rgb(105, 169, 244);
$windowsBlue: rgb(60, 128, 207);

$boringGreen: #56bd5b;

$riverBed: #434c5d;
$shuttleGrey: #596377;
$greyCloud: #b2b2b2;

$black: #000000;
