$alizarinCrimson: #d72130;
$roseMadder: rgba(224, 34, 50, 1);
$monza: #c80515;
$paleRed: #e1464e;
$persianRed: #c63638;
$fireEngineRed: rgba(215, 33, 48, 0.11);

$havelockBlue: rgb(74, 144, 226);
$crystalBlue: rgb(105, 169, 244);
$windowsBlue: rgb(60, 128, 207);

$boringGreen: #56bd5b;

$dawnPink: rgba(235, 235, 235, 0.79);
$white: #ffffff;
$azalea: rgba(247, 211, 214, 1);
$roseWhite: rgb(255, 251, 251);
$periwinkleGrey: #c6ccd7;
$lightGrey: #d4d9e2;
$greyChateau: #a6a9af;
$paleGrey: #f8f8f8;
$softPeach: #ededed;
$quillGrey: #d8d8d8;

$riverBed: #434c5d;
$shuttleGrey: #596377;
$greyGoose: #d1d1d1;
$friarGrey: #7f7b7b;
$greyCloud: #b2b2b2;
$silver: #bfbfbf;

$porcelain: #f2f2f2;

$heavyMetal: #2f2f2f;
$gunmetal: #2b2f43;
$black: #000000;
