@import 'styles/Colors.scss';

.burger-menu {
  width: 100%;
  height: 100%;
  background-color: $monza;
  display: flex;

  &-contain {
    display: flex;
    flex-direction: column;
    padding: 13px 0 0 49px;
  }

  &-item {
    font-weight: 700;
    font-size: 18px;
    line-height: 19px;
    color: $dawnPink;
    text-decoration: none;
    height: 45px;
    width: 105px;
    display: flex;
    align-items: center;
    justify-content: space-between;

    &:hover {
      color: $white;
    }

    &.sub-menu {
      &::after {
        content: url('/assets/images/arrow-right-flag.svg');
      }
    }
  }

  &.sub-menu {
    &::after {
      content: url('/assets/images/arrow-right-flag.svg');
    }
  }

  &-second {
    display: flex;
    flex-direction: column;
    padding: 13px 0 0 49px;

    &-btn {
      cursor: pointer;
      background: none;
      border: none;
      color: $white;
      height: 45px;
      font-size: 17px;
      line-height: 22px;
      letter-spacing: -0.24px;
      font-weight: 400;

      &::before {
        content: url('/assets/images/arrow-left-flag.svg');
        margin-right: 10px;
      }
    }

    &-title {
      font-weight: 700;
      font-size: 18px;
      line-height: 19px;
      color: $white;
      margin: 13px 0 13px;
    }

    &-contain {
      padding-left: 16px;
    }

    &-item {
      font-weight: 400;
      font-size: 14px;
      line-height: 19px;
      color: $white;
      text-decoration: none;
      height: 45px;
      width: 93px;
      display: flex;
      align-items: center;
      justify-content: space-between;

      &.close::after {
        content: url('/assets/images/arrow-right-flag.svg');
        transition-duration: 0.2s;
      }

      &.open::after {
        content: url('/assets/images/arrow-right-flag.svg');
        transform: rotateZ(90deg);
        transition-duration: 0.2s;
      }
    }

    &-drop {
      display: flex;
      flex-direction: column;
      padding-left: 23px;
      transition-duration: 0.2s;

      &-item {
        transition-duration: 0.2s;
        text-decoration: none;
        font-weight: 400;
        font-size: 14px;
        line-height: 19px;
        color: $white;
        height: 45px;
        display: flex;
        align-items: center;
      }
    }
  }
}
