@import 'styles/Colors.scss';

.main-article {
  display: flex;
  flex-direction: column;

  &-contain {
    display: flex;
    position: relative;
    align-items: center;
    max-width: 813px;
    width: 100%;

    &.adaptive {
      margin-bottom: 0;
    }
  }

  &-img-area {
    user-select: none;
    position: relative;
    width: 100%;
    height: 100%;

    & > img {
      width: 100%;
      max-height: 650px;
      object-fit: cover;
    }

    &-mobile {
      position: absolute;
      z-index: 400;
      right: 0;
      top: 0;
      display: none;
      justify-content: space-between;
      width: 100%;
      height: 100%;

      button {
        all: unset;
        height: 100%;
        width: 70px;

        &:active * {
          transition-duration: 100ms;
          fill: $white;
        }
      }

      &-arrow {
        height: 70px;
        width: 100%;
        cursor: pointer;

        * {
          fill: $fadedWhite;
        }

        &.left {
          transform: rotate(-90deg);
        }

        &.right {
          transform: rotate(90deg);
        }
      }
    }
  }

  &-text {
    margin-top: 20px;
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;
    color: $black;

    a {
      color: $alizarinCrimson;
      text-decoration: none;

      &:hover {
        color: $persianRed;
        text-decoration: underline;
      }
    }

    p {
      margin-top: 20px;
    }
  }

  &-button {
    display: flex;
    position: absolute;
    right: 0;
    bottom: -57px;

    &-number {
      border: none;
      background: none;
      cursor: pointer;
      color: $greyCloud;
      font-size: 16px;
      line-height: 22px;
      width: 30px;
      letter-spacing: 0.6px;

      &.active,
      &:hover {
        color: $persianRed;
      }
    }

    &-circle {
      display: flex;
      background: none;
      border: none;
      cursor: pointer;
      width: 27px;

      &.right {
        margin-left: 20px;
        transform: rotate(-180deg);
      }

      &.left {
        margin-right: 20px;
      }

      &:hover .arrow {
        stroke: $persianRed;
      }

      &:hover * {
        fill: $persianRed;
      }
    }
  }

  &-title {
    background-color: $porcelain;
    box-sizing: border-box;
    position: absolute;
    max-width: 420px;
    width: 100%;
    padding: 50px 33px 83px;
    right: -228px;

    &-shadow {
      position: absolute;
      width: 300px;
      height: 20px;
      right: 8px;
      bottom: 0;
      z-index: -9999;
      box-shadow: -25px 17px 28px -4px rgba(0, 0, 0, 0.21);
    }

    &-text {
      display: flex;
      flex-direction: column;
      justify-content: center;
      margin-right: auto;

      span {
        color: $friarGrey;
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 16px;
      }

      h3 {
        margin: 19px 0;
        font-size: 16px;
        line-height: 22px;
        color: $persianRed;
      }

      h2 {
        font-weight: 700;
        font-size: 18px;
        line-height: 30px;
        color: $gunmetal;
      }
    }

    &-btn {
      width: 192px;
      height: 42px;
      font-size: 16px;
      line-height: 22px;
      position: absolute;
      left: 0;
      bottom: 0;
    }
  }
}

@media screen and (max-width: 1310px) {
  .main-article {
    &-contain {
      flex-direction: column;
      align-items: flex-start;

      &.adaptive {
        margin-bottom: 80px;
      }
    }

    &-text {
      margin-top: 0;
    }

    &-button {
      right: auto;
    }

    &-title {
      display: flex;
      flex-direction: column;
      background: none;
      align-items: center;
      position: relative;
      right: 0;
      max-width: 813px;
      padding: 26px 0 32px;
      box-shadow: 0px 61px 72px -92px rgba(0, 0, 0, 0.75);

      &-shadow {
        display: none;
      }

      &-text {
        h3 {
          margin: 13px 0 3px;
        }

        h2 {
          font-size: 16px;
          line-height: 21px;
        }
      }

      &-btn {
        margin-top: 30px;
        position: relative;
      }
    }
  }
}

@media screen and (max-width: 1024px) {
  .main-article {
    &-contain {
      max-width: 1024px;

      &.adaptive {
        margin-bottom: 0;
      }
    }

    &-text {
      margin: 0 16px;
    }

    &-mobile-btn {
      display: flex;
    }

    &-img-area {
      & > img {
        max-width: 1024px;
      }

      &-mobile {
        display: flex;
      }
    }

    &-button {
      display: none;
    }

    &-title {
      max-width: 1024px;
      padding: 26px 16px 32px;

      &-btn {
        margin-top: 30px;
        position: relative;
      }
    }
  }
}
