@import 'styles/Colors.scss';

.sub-article {
  transition: 0.2s;
  height: 294px;
  max-width: 202px;
  background: none;
  display: flex;
  box-sizing: border-box;
  flex-direction: column;
  padding: 11px 13px;
  position: relative;

  &-img {
    object-fit: cover;
    height: 128px;
  }

  h3 {
    margin: 14px 0 4px;
    width: 177px;
    font-weight: 700;
    font-size: 16px;
    line-height: 22px;
    color: $gunmetal;
  }

  p {
    width: 160px;
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;
    color: $friarGrey;
  }

  &-button {
    transition: 0.2s;
    opacity: 0;
    position: absolute;
    height: 13px;
    width: 16px;
    bottom: 14px;
    right: 12px;
  }

  &:hover {
    display: flex;
    background-color: $white;
    box-shadow: 0px 2px 24px rgba(0, 0, 0, 0.110932);

    .sub-article-button {
      opacity: 1;
      cursor: pointer;
    }
  }
}
