@import 'styles/Colors.scss';

.modal {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  z-index: 9999;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background: rgba(77, 75, 75, 0.4);
  backdrop-filter: blur(14px);

  &-transition {
    &-enter {
      opacity: 0;
    }

    &-enter-active {
      opacity: 1;
      transition: 200ms;
    }

    &-exit {
      opacity: 1;
    }

    &-exit-active {
      opacity: 0;
      transition: 200ms;
    }
  }

  &-contain {
    margin: 0 20px;
    box-sizing: border-box;
    padding: 50px 34px 60px;
    position: relative;
    background: $white;
    max-width: 450px;
    width: 100%;
    min-height: 240px;
    max-height: 450px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  &-icon {
    position: absolute;
    top: -40px;

    & > svg {
      width: 80px;
      height: 80px;

      circle {
        fill: $alizarinCrimson;
      }
    }
  }

  &-text {
    text-align: center;

    &-title {
      margin-bottom: 10px;
    }

    p {
      color: $black;
      font-size: 14px;
      font-weight: 400;
    }
  }

  &-btn {
    position: absolute;
    bottom: 18px;
    right: 34px;

    &-item {
      width: 107px;
    }
  }
}
