@import './../../../styles/Colors.scss';
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

.form {
  &-contain {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 390px;
    height: 329px; //281
  }

  &-title {
    font-size: 24px;
    line-height: 33px;
    color: #000000;
  }

  &-button {
    width: 100%;
    margin-top: 15px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 0.8px;
    text-transform: uppercase;
  }

  &-input {
    width: 100%;
  }

  &-error {
    font-size: 10px;
    line-height: 14px;
    color: $alizarinCrimson;
  }

  &-description {
    font-size: 14px;
    line-height: 19px;
    color: $shuttleGrey;
  }
}
