@import './../../../styles/Colors.scss';
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

.form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 390px;
  height: 311px;

  &-contain {
    margin-top: 15px;
  }

  &-title {
    font-size: 24px;
    line-height: 33px;
    color: #000000;
  }

  &-button {
    width: 100%;
    margin-top: 15px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 0.8px;
    text-transform: uppercase;
  }

  &-input {
    width: 100%;
  }

  &-description {
    width: 265px;
    height: 39px;
    font-size: 14px;
    line-height: 19px;
    color: $shuttleGrey;
  }

  &-text-link {
    margin-top: 12px;
    display: flex;
    justify-content: center;

    &-content {
      color: #000000;
      line-height: 16px;
      width: 85px;
    }
  }
}
