@import './../../styles/Colors.scss';
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

$height: 1024px;

.log-in {
  width: 1440px;
  height: $height;
  background-color: rgb(255, 255, 255);
  position: relative;

  &-left {
    width: 642px;
    height: $height;
    background: url('./../../assets/picture/freddie-collins.png');
  }

  &-logo {
    width: 253px;
    height: 83px;
    background-color: $alizarinCrimson;
    display: flex;
    justify-content: center;
    align-items: center;

    &-text {
      width: 122px;
      height: 28px;
      line-height: 28px;
      font-family: 'Open Sans';
      font-style: normal;
      font-size: 22px;
      color: $roseWhite;
      font-weight: 600;
    }
  }
}
