@import './../../styles/Colors.scss';
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

$height: 1024px;

.log-in {
  width: 1440px;
  height: $height;
  background-color: rgb(255, 255, 255);
  position: relative;
  display: flex;

  &-left {
    width: 642px;
    height: $height;
    background: url('./../../assets/images/freddie-collins.png');
  }

  &-right {
    width: 798px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
}
