@import 'styles/Colors.scss';

$lineColor: $roseWhite;

@mixin icon-around($height, $width, $top) {
  transition-duration: 0.5s;
  position: absolute;
  width: $width;
  height: $height;
  background-color: $lineColor;
  content: '';
  top: $top;
  left: 0;
}

.burger-btn {
  position: relative;
  display: flex;
  background: none;
  border: none;
  width: 20px;
  height: 20px;
  transition-duration: 0.5s;

  .icon {
    transition-duration: 0.5s;
    position: absolute;
    height: 3px;
    width: 20px;
    top: 8px;
    background-color: $lineColor;

    &:before {
      @include icon-around(3px, 20px, -7px);
    }

    &:after {
      @include icon-around(3px, 20px, 7px);
    }
  }

  &.open {
    .icon {
      transition-duration: 0.5s;
      background: transparent;

      &:before {
        transform: rotateZ(45deg) scaleX(1.25) translate(4px, 5px);
      }

      &:after {
        transform: rotateZ(-45deg) scaleX(1.25) translate(4px, -5px);
      }
    }
  }
  &:hover {
    cursor: pointer;
  }
}
