@import '../../styles/Colors.scss';

.sidebar {
  width: 253px;
  font-weight: 700;
  font-size: 14px;
  line-height: 19px;
  position: absolute;

  &-list {
    margin-top: 78px;
    padding-left: 65px;
  }

  &-item {
    width: 100%;
    height: 36px;
    cursor: pointer;
    display: flex;
    align-items: center;
    text-decoration: none;
    color: $greyCloud;
    position: relative;
    user-select: none;
    text-transform: uppercase;

    &:hover {
      color: $persianRed;

      &::before {
        content: '•';
        scale: 1.5;
        position: absolute;
        left: -11px;
      }
    }

    &-focus {
      color: $persianRed;

      &::before {
        content: '•';
        scale: 1.5;
        position: absolute;
        left: -11px;
      }
      &::after {
        content: '';
        height: 40px;
        width: 6px;
        background-color: $alizarinCrimson;
        position: absolute;
        right: 0;
      }
    }
  }

  &-follow {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    user-select: none;
    color: $greyCloud;
    width: 60px;
    height: 93px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: 15px;

    &-icon {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      width: 60px;
      height: 60px;

      &-contain {
        display: flex;
        justify-content: space-between;
        align-items: center;
      }

      &-item {
        cursor: pointer;

        &:hover * {
          fill: $alizarinCrimson;
        }
      }
    }
  }
}
