@import 'styles/Colors.scss';

.logo {
  width: 253px;
  height: 83px;
  text-decoration: none;
  background-color: $alizarinCrimson;
  display: flex;
  justify-content: center;
  align-items: center;

  &-text {
    width: 122px;
    height: 28px;
    line-height: 28px;
    font-size: 22px;
    color: $roseWhite;
    font-weight: 600;
  }
}
