@import 'styles/Colors.scss';

.sidebar {
  max-width: 1440px;
  width: 100%;
  font-weight: 700;
  font-size: 14px;
  line-height: 19px;
  box-sizing: border-box;
  position: absolute;
  left: 0;
  z-index: 9999;

  &-bg {
    position: absolute;

    &.active {
      width: 100%;
      height: max-content;
      backdrop-filter: blur(11.5px);
      transition: backdrop-filter 0.2s;
    }
  }

  &-contain {
    display: flex;
    width: min-content;
  }

  &-list {
    width: 253px;
    box-sizing: border-box;
    padding-top: 78px;
    padding-left: 65px;

    &.active {
      background-color: $white;
    }
  }

  &-item {
    width: 100%;
    height: 36px;
    cursor: pointer;
    display: flex;
    align-items: center;
    text-decoration: none;
    color: $greyCloud;
    position: relative;
    user-select: none;
    text-transform: uppercase;
    transition: 0.2s;

    &:hover {
      color: $persianRed;

      &::before {
        content: '•';
        scale: 1.5;
        position: absolute;
        left: -11px;
      }
    }

    &-focus {
      color: $persianRed;

      &::before {
        content: '•';
        scale: 1.5;
        position: absolute;
        left: -11px;
      }

      &::after {
        content: '';
        height: 40px;
        width: 6px;
        background-color: $alizarinCrimson;
        position: absolute;
        right: 0;
      }
    }
  }
}
