.test-page {
  display: flex;
  flex-direction: column;

  &-form {
    margin-top: 30px;
    width: 200px;

    textarea {
      padding: 5px;
      resize: none;
      width: 700px;
      height: 500px;
    }
  }

  &-mark {
    position: absolute;
    left: -30000px;
    opacity: 0;
    font-size: 2px;
    width: 150px;

    img {
      width: 100px;
    }
  }
}
