@import 'styles/Colors.scss';

$sizeImg: 25px;

.user-bar {
  position: relative;

  &-btn {
    border: none;
    background: none;
    cursor: pointer;
  }

  &-avatar {
    width: $sizeImg;
    height: $sizeImg;
    border-radius: 50%;
  }

  &-menu {
    width: 198px;
    background-color: $white;
    position: absolute;
    top: 50px;
    left: -165px;
    padding-top: 12px;
    box-shadow: 0px 0px 17px rgba(0, 0, 0, 0.09);
    z-index: 20;

    &::after {
      content: '';
      position: absolute;
      width: 12px;
      height: 12px;
      left: 177px;
      top: -12px;
      transform: translate(-50%, 50%) rotate(45deg);
      background-color: $white;
    }

    &-head {
      height: 50px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      padding-left: 25px;
      font-size: 12px;

      &-name {
        color: $black;
        font-weight: 600;
        line-height: 19px;
      }

      &-email {
        color: $friarGrey;
        font-weight: 400;
        line-height: 19px;
      }
    }

    &-list-item {
      font-weight: 400;
      font-size: 14px;
      line-height: 19px;
      box-sizing: border-box;
      padding-left: 25px;
      width: 100%;
      height: 50px;
      cursor: pointer;
      display: flex;
      align-items: center;
      text-decoration: none;
      color: $black;
      user-select: none;
      transition: 0.2s;
      border: none;
      background: $white;

      &:hover {
        color: $alizarinCrimson;
        background: $fireEngineRed;
      }

      &.logout {
        border-top: 1px solid $softPeach;
      }
    }
  }

  &-singup {
    button {
      width: 107px;
    }
  }
}
